/* Écran de téléphone (-768 pixels) */
@media screen and (max-width: 768px) {

    #galerie {
        /* Comme pour la class main, faire en sorte que ce soit responsive avec l'alignement des items au centre */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Marges intérieur de l'article a 30 pixels du bord de l'article */
        padding: 30px;
    }

    img {
        margin: 10px;
        width: 75%;
        object-fit: cover;
        border-radius: 5px;
    }

    #artiste {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: beige;
        width: 100%;
        padding-left: 0;
    }

    .superps {
        width: 30%;
        height: auto;
        position: relative;
    }

    
    /* Superposition des images */
    .superps:first-child {
        transform: translate(100%, 90%);
        /* Mettre l'image en arrière plan */
        z-index: 1;
    }

    /* Fais en sorte que la div n'ai pas de scroll et que le texte soit bien sous les images */
    .superps:last-child {
        transform: translate(40%, 20%);
        /* Mettre l'image en arrière plan */
        z-index: 0;
    }


    .superpc {
        width: 20%;
        height: auto;
        position: relative;
    }
    .superpc:first-child {
        transform: translate(100%, 50%);
        /* Mettre l'image en arrière plan */
        z-index: 1;
    }
    
    .superpc:last-child {
        transform: translate(40%, 20%);
        /* Mettre l'image en arrière plan */
        z-index: 0;
    }
    
    .superpc:first-child {
        transform: translate(100%, 50%);
        /* Mettre l'image en arrière plan */
        z-index: 1;
    }

    #oeuvre {
        /* Comme pour la class main, faire en sorte que ce soit responsive avec l'alignement des items au centre et en collones */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .peinture {
        /* Comme pour la class main, faire en sorte que ce soit responsive avec l'alignement des items au centre et en collones */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .peinture img {
        width: 100%;
        height: auto;
        position: relative;
    }

    .lavande {
        width: 100%;
        height: auto;
        position: relative;
        padding: 30px;
        text-align: justify;
    }



    #boutique {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .toileb {
        /* Comme pour la class main, faire en sorte que ce soit responsive avec l'alignement des items au centre et en collones */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toileb img {
        width: 75%;
        height: auto;
        position: relative;
    }
}